@use '../_variables' as v;

.br-braille-ui{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.br-ui-main{
  width: 100%;
  height: 100%;
  padding: 16px;
}

.br-ui-header{
  display: flex;
  flex-direction: row;
  height: 128px;
  gap: 16px;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
  >.br-ui-header__logo{
    height: 100%;
    object-fit: contain;
  }
  >.MuiTypography-root{
    color: v.$color-main;
  }
}

.br-ui-footer{
  height: 64px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-end;
  >.br-ui-footer__logo{
    height: 64px;
    border-radius: 32px;
  }
  >.MuiTypography-root{
    color: v.$color-main;
    font-size: smaller;
  }
}

.br-text-input{
  &__content{
    width: 100%;
    height: 100%;
    >.MuiInputBase-root{
      width: 100%;
      //height: 100%;
    }
  }
}

.br-braille-canvas{
  &__content{
    width: 100%;
    height: 100%;
    >#braille-canvas{
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.br-braille-controls{
  &__content{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

.br-braille-print-state {
  &__content{
    >.MuiTypography-root{
      color: v.$color-main;
      font-size: small;
    }
  }
}