@use '../_variables' as v;
// Extra small devices
@mixin xs {
  @media (min-width: #{v.$screen-xs-min}) {
      @content;
  }
}


// Small devices
@mixin sm {
  @media (min-width: #{v.$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{v.$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{v.$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{v.$screen-xl-min}) {
      @content;
  }
}

.br-ui{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  gap: 8px;
}

.br-ui-input{
  @include xs {
    flex-direction: column !important;
  }
  @include md {
    flex-direction: row !important;
  }
  display: flex;
  gap: 16px;
  padding: 16px;
  height: 100%;
  flex: 1 1;
  overflow: hidden;
  &__text{
    //width: 100%;
    height: 100%;
    flex: 1 1;
    >.MuiInputBase-root{
      //width: 100%;
      height: 100%;
    }
  }
  &__braille-canvas{
    @include xs {
      height: 1%;
    }
    @include md {
      height: 100%;
    }
    flex: 1 1;
    >#braille-canvas{
      width: 100%;
      height: 100%;
    }
  }
}

.br-ui-header{
  @include xs {
    height: 64px;
    >.MuiTypography-root{
      font-size: 1.5rem;
    }
  }
  @include md {
    height: 128px;
    >.MuiTypography-root{
      font-size: 3rem !important;
    }
  }
  flex-direction: row;
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
  >.br-ui-header__logo{
    height: 100%;
    object-fit: contain;
  }
  >.MuiTypography-root{
    color: v.$color-main;
  }
}

.br-ui-footer{
  @include xs {
    height: 48px;
    >.br-ui-footer__logo-wrapper{
      >.br-ui-footer__logo{
        height: 32px;
        border-radius: 16px;
      }
    }
    >.br-ui-footer__text-wrapper {
      >.MuiTypography-root{
        font-size: x-small;
      }
    }
  }
  @include md {
    height: 80px;
    >.br-ui-footer__logo-wrapper{
      >.br-ui-footer__logo{
        height: 64px;
        border-radius: 32px;
      }
    }
    >.br-ui-footer__text-wrapper {
      >.MuiTypography-root{
        font-size: smaller;
      }
    }
  }
  padding: 24px;
  margin-bottom: 16px;
  >.br-ui-footer__logo-wrapper {
    margin-bottom: 8px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-end;
  }
  >.br-ui-footer__text-wrapper {
    >.MuiTypography-root{
      color: v.$color-main;
    }
  }
}

.br-ui-controls{
  padding: 16px;
  &__btns{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 8px;
  }
  &__print-state{
    >.MuiTypography-root{
      color: v.$color-main;
      font-size: small;
    }
  }
}